@(form: Form[Application.Event])

@main("CS 638 Web Application") {

<div class="container-fluid">

    @if(form.hasGlobalErrors) {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @form.globalError.message
        </div>
    }

    <form class="form-horizontal" action="@routes.Application.createEvent()" method="post">
        <legend>Create new event</legend> 
        <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input id="name" type="text" placeholder="Name" name="name">
                </div>
        </div>
        
        <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                  <input id="description" type="text" placeholder="Description" name="description">
                </div>
        </div>
        
        <div class="control-group">
                <label class="control-label" for="routeDes">Route Description</label>
                <div class="controls">
                     <input type="text" id="routeDes" placeholder="Describe the Route" name="routeDescription">
                </div>
        </div>
        
        <div class="control-group">
                <label class="control-label" for="pace">Pace</label>
                <div class="controls">
                  <input id="pace" type="text" placeholder="Pace" name="pace">
                </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="distance">Distance</label>
            <div class="controls">
                <input type="text" id="distance" placeholder="Distance" name="distance">
                <select class="input-mini" name="unit">
                    <option>mi.</option>
                    <option>km</option>
                    <option>m</option>
                </select>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Create</button>
        <a class="btn" href="@routes.Application.index()">Cancel</a>
    </form>

</div>

}