@(form: Form[Application.Group])

@main("CS 638 Web Application") {

<div class="container-fluid">

    @if(form.hasGlobalErrors) {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @form.globalError.message
        </div>
    }

    @if(flash.contains("success")) {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @flash.get("success")
        </div>
    }

    <form action="@routes.Application.createGroup()" method="post">
        <legend>Create new group</legend>
        <label></label>
        <input type="text" placeholder="Name" name="name">
        <label></label>
        <input type="text" placeholder="Description" name="description">
        <label></label>
        <button class="btn btn-primary" type="submit">Create</button>
        <a class="btn" href="@routes.Application.index()">Cancel</a>
    </form>

</div>

}