@()

@main("CS 638 Web Application") {

<div class="container-fluid">

    <div class="row-fluid">
        <legend>What is XXX?</legend>
        XXX is a site where you can meet other runners in your area, blah blah blah
    </div>
    
    <div class="row-fluid">
        <legend>Who are the creators?</legend>
        <div class="row-fluid">
        <div class="span6">
            <h4>Finn Kuusisto</h4>
            <p>blah blah blah</p>
        </div>
        <div class="span6">
            <h4>Paul Bolanowski</h4>
            <p>blah blah blah</h4>
        </div>
        </div>
    </div>

</div>

}