@(events: List[EventInfo])

@main("CS 638 Web Application") {

<ul class="nav nav-tabs">
    <li><a href="@routes.Lists.users()">Users</a></li>
    <li><a href="@routes.Lists.groups()">Groups</a></li>
    <li class="active"><a href="@routes.Lists.events()">Events</a></li>
</ul>

<div class="container-fluid">

    <legend>@events.size() Event(s)</legend>
    @for(event <- events) {
        <div class="well well-small">
            <p class="lead"><a href="@routes.Info.viewEvent(event.id)">@event.name</a></p>
            <p>@event.description</p>
        </div>
    }
    
     <a href="@routes.Application.newEvent()">Create Event</a>
    
    
</div>
    
}