@(groups: List[UserGroup])

@main("CS 638 Web Application") {

<ul class="nav nav-tabs">
    <li><a href="@routes.Lists.users()">Users</a></li>
    <li class="active"><a href="@routes.Lists.groups()">Groups</a></li>
    <li><a href="@routes.Lists.events()">Events</a></li>
</ul>

<div class="container-fluid">

    <legend>@groups.size() Group(s)</legend>
    @for(group <- groups) {
        <div class="well well-small">
            <p class="lead"><a href="@routes.Info.viewGroup(group.id)">@group.name</a></p>
            <p><a href="@routes.Info.viewUser(group.creatorUsername)">@group.creatorUsername</a></p>
            <p>@group.description</p>
        </div>
    }
    
</div>
    
}