@(form: Form[Application.Login])

@main("CS 638 Web Application") {

<div class="container-fluid">

    @if(form.hasGlobalErrors) {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @form.globalError.message
        </div>
    }

    @if(flash.contains("success")) {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @flash.get("success")
        </div>
    }

    <form action="@routes.Application.authenticate()" method="post">
        <legend>Sign in</legend>
        <label></label>
        <input type="text" placeholder="Username" name="username" value=@form("username").value>
        <label></label>
        <input type="password" placeholder="Password" name="password" value=@form("password").value>
        <label></label>
        <button class="btn btn-primary" type="submit">Sign in</button>
    </form>
    
    <a href="@routes.Application.newAccount()">New user?  Sign up for free.</a>

</div>

}