@(user: UserInfo, editable: Boolean, following: List[UserInfo], followers: List[UserInfo])

@main("CS 638 Web Application") {

    <div class="container-fluid">
    
        <div class="row-fluid">
        <a href="@routes.Info.viewUser(user.username)">
            <div class="span1">
                <img src="@Gravatar.getURL(user.email,70,Gravatar.DFLT_MYSTERY_MAN)" class="img-polaroid">
            </div>
            <div class="span11">
                <h1>
                    @user.fullName
                </h1>
            </div>
        </a>
        </div>
        
        <hr>

        <div class="row-fluid">
            <div class="span6">
                <h4>Following</h4>
                <table class="table table-condensed table-hover">
                    <tbody>
                    @for(user <- following) {
                        <tr>
                            <td>
                                <img src="@Gravatar.getURL(user.email,24,Gravatar.DFLT_MYSTERY_MAN)">
                            </td>
                            <td>
                                <a href="@routes.Info.viewUser(user.username)">@user.fullName</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="span6">
                <h4>Followers</h4>
                <table class="table table-condensed table-hover">
                    <tbody>
                    @for(user <- followers) {
                        <tr>
                            <td>
                                <img src="@Gravatar.getURL(user.email,24,Gravatar.DFLT_MYSTERY_MAN)">
                            </td>
                            <td>
                                <a href="@routes.Info.viewUser(user.username)">@user.fullName</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                
            </div>
        </div>

    </div>
    
}