@(user: UserInfo, editable: Boolean, followable: Boolean, viewerFollowing: Boolean,
following: List[UserInfo], followers: List[UserInfo], attending: List[EventInfo])

@main("CS 638 Web Application") {

    <div class="container-fluid">
    
        <div class="row-fluid">
            <div class="span12">
                <h1>
                    @user.fullName
                                    @if(editable) {
                    <a class="btn" href="@routes.Info.editUser(user.username)"><i class="icon-pencil"></i> Edit profile</a>
                }
                @if(followable) {
                    @if(viewerFollowing) {
                        <a class="btn btn-danger" href="@routes.Info.followUser(user.username)"><i class="icon-minus icon-white"></i> Unfollow</a>
                    } else {
                        <a class="btn btn-primary" href="@routes.Info.followUser(user.username)"><i class="icon-plus icon-white"></i> Follow</a>
                    }
                }
                </h1>
            </div>
        </div>
        
        <hr>
        
        <div class="row-fluid">
            <div class="span4">
                
                <img src="@Gravatar.getURL(user.email,280,Gravatar.DFLT_MYSTERY_MAN)" class="img-rounded">
                
                <legend>Contact</legend>
                <address>
                    <a href="mailto:@user.email">@user.email</a>
                </address>
                
            </div>
            <div class="span8">
                <legend>About</legend>
                @if(user.about!=null) {
                    @for(para <- user.about.trim().split("\n+")) {
                        <p>
                            @para.trim()
                        </p>
                    }
                }
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4">
                <table class="table table-condensed table-hover">
                <thead><tr><th>Following</th></tr></thead>
                    <tbody>
                    @for(user <- following) {
                        <tr>
                            <td>
                                <img src="@Gravatar.getURL(user.email,24,Gravatar.DFLT_MYSTERY_MAN)">
                            </td>
                            <td>
                                <a href="@routes.Info.viewUser(user.username)">@user.fullName</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="span4">

                <table class="table table-condensed table-hover">
                <thead><tr><th>Followers</th></tr></thead>
                    <tbody>
                    @for(user <- followers) {
                        <tr>
                            <td>
                                <img src="@Gravatar.getURL(user.email,24,Gravatar.DFLT_MYSTERY_MAN)">
                            </td>
                            <td>
                                <a href="@routes.Info.viewUser(user.username)">@user.fullName</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                
            </div>
            <div class="span4">
                <table class="table table-condensed table-hover">
                <thead><tr><th>Attending</th></tr></thead>
                    <tbody>
                        @for(event <- attending) {
                            <tr>
                            <td>
                                <a href="@routes.Info.viewEvent(event.id)">@event.name</a>
                            </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    
}